<div class="modal-header">
    <div id="modal-title-container">
        <div id="modal-title">Keyword to Audio Param Mapper</div>
    </div>
</div>

<div class="modal-body">
<div id="modal-kwcontainer">
    <input ng-model="ui.keywords[id]" ng-style="{'border-color': ui.colors[id]}" class="input-box" id="modal-input-box" typeahead="kw for kw in data.kwList | filter:$viewValue | limitTo:30" placeholder={{data.kwPlaceholder}}>
    <button ng-mousedown="synths[id].preview()" ng-mouseup="synths[id].stopPreview()" ng-mouseleave="synths[id].stopPreview()" id="modal-preview-btn"><img src="resources/speaker-m.png" id="modal-preview-img"></button>
</div>

<!-- TODO: this is so redundant! use directive or something -->

<div id="mapper-container">
    <div class="mapper-unit">
        <div class="mapper-unit-title"> Sound Source </div>
        <div class="mapper-unit-body">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default btn-xs dropdown-toggle srcbtn">
                    {{synths[id].soundSrcType}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu src-dropdown" role="menu">
                    <div ng-repeat="s in soundSource.categories">
                        <li><a href="#" ng-click="soundSource.setType(s)">{{s}}</a></li>
                    </div>
                </ul>
            </div>
            <div ng-show="synths[id].soundSrcType=='Synth'">
                <div class="btn-group" dropdown style="left: 10px">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle srcbtn">
                        {{synths[id].waveform}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu src-dropdown" role="menu">
                        <div ng-repeat="s in synthGlobal.wfPreset">
                            <li><a href="#" ng-click="soundSource.setWaveform(s)">{{s}}</a></li>
                        </div>
                    </ul>
                </div>
            </div>
            <div ng-show="synths[id].soundSrcType=='Sample'">
                <div class="btn-group" dropdown style="left: 10px">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle srcbtn">
                        {{synths[id].sample}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu src-dropdown" role="menu">
                        <div><li><a href="#" ng-click="soundSource.setNone()">None</a></li></div>
                        <div><li>Upload</li></div>
                        <div ng-repeat="s in shared.defaultSamples">
                            <li><a href="#" ng-click="soundSource.setSample(s)">{{s}}</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="mapper-unit">
        <div class="mapper-unit-title"> Pitch </div>
        <div class="mapper-unit-body">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default btn-xs dropdown-toggle srcbtn">
                    {{synths[id].pitchSrc}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu src-dropdown" role="menu">
                    <div ng-repeat="s in data.sources">
                        <li><a href="#" ng-click="uiRemapper.setPitchSrc(s)">{{s}}</a></li>
                    </div>
                </ul>
            </div>
            <div ui-slider="ui.paramSlider" ng-model="synths[id].pitchNrm" class="param-slider"></div>
        </div>
    </div>

    <div class="mapper-unit">
        <div class="mapper-unit-title"> Level </div>
        <div class="mapper-unit-body">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default btn-xs dropdown-toggle srcbtn">
                    {{synths[id].levelSrc}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu src-dropdown" role="menu">
                    <div ng-repeat="s in data.sources">
                        <li><a href="#" ng-click="uiRemapper.setLevelSrc(s)">{{s}}</a></li>
                    </div>
                </ul>
            </div>
            <div ui-slider="ui.paramSlider" ng-model="synths[id].levelNrm" class="param-slider"></div>
        </div>
    </div>

    <div class="mapper-unit">
        <div class="mapper-unit-title"> Position X </div>
        <div class="mapper-unit-body">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default btn-xs dropdown-toggle srcbtn">
                    {{synths[id].xSrc}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu src-dropdown" role="menu">
                    <div ng-repeat="s in data.sources">
                        <li><a href="#" ng-click="uiRemapper.setXSrc(s)">{{s}}</a></li>
                    </div>
                </ul>
            </div>
            <div ui-slider="ui.paramSlider" ng-model="synths[id].xNrm" class="param-slider"></div>
        </div>
    </div>

    <div class="mapper-unit">
        <div class="mapper-unit-title"> Position Y </div>
        <div class="mapper-unit-body">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default btn-xs dropdown-toggle srcbtn">
                    {{synths[id].ySrc}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu src-dropdown" role="menu">
                    <div ng-repeat="s in data.sources">
                        <li><a href="#" ng-click="uiRemapper.setYSrc(s)">{{s}}</a></li>
                    </div>
                </ul>
            </div>
            <div ui-slider="ui.paramSlider" ng-model="synths[id].yNrm" class="param-slider"></div>
        </div>
    </div>

    <!--<div class="mapper-unit">-->
    <!--<div class="mapper-unit-title"> Position Z </div>-->
    <!--<div class="mapper-unit-body">-->
    <!--<div class="btn-group" dropdown>-->
    <!--<button type="button" class="btn btn-default btn-xs dropdown-toggle srcbtn">-->
    <!--{{synths[id].zSrc}} <span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu src-dropdown" role="menu">-->
    <!--<div ng-repeat="s in data.sources">-->
    <!--<li><a href="#" ng-click="uiRemapper.setZSrc(s)">{{s}}</a></li>-->
    <!--</div>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div ui-slider="ui.paramSlider" ng-model="synths[id].zNrm" class="param-slider"></div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="mapper-unit">
        <div class="mapper-unit-title">
            <input type="checkbox" ng-model="synths[id].lpfSwitch">
            Filter
        </div>
        <div class="mapper-unit-body">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default btn-xs dropdown-toggle srcbtn">
                    {{synths[id].lpfSrc}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu src-dropdown" role="menu">
                    <div ng-repeat="s in data.sources">
                        <li><a href="#" ng-click="uiRemapper.setLpfSrc(s)">{{s}}</a></li>
                    </div>
                </ul>
            </div>
            <div ui-slider="ui.paramSlider" ng-model="synths[id].lpfNrm" class="param-slider"></div>
        </div>
    </div>

    <div class="mapper-unit">
        <div class="mapper-unit-title">
            <input type="checkbox" ng-model="synths[id].fmSwitch">
            Metallic Strength
        </div>
        <div class="mapper-unit-body">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default btn-xs dropdown-toggle srcbtn">
                    {{synths[id].fmIndexSrc}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu src-dropdown" role="menu">
                    <div ng-repeat="s in data.sources">
                        <li><a href="#" ng-click="uiRemapper.setFmIndexSrc(s)">{{s}}</a></li>
                    </div>
                </ul>
            </div>
            <div ui-slider="ui.paramSlider" ng-model="synths[id].fmIndexNrm" class="param-slider"></div>
        </div>
    </div>

    <div class="mapper-unit">
        <div class="mapper-unit-title">
            <input type="checkbox" ng-model="synths[id].fmSwitch">
            Metallic Color
        </div>
        <div class="mapper-unit-body">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default btn-xs dropdown-toggle srcbtn">
                    {{synths[id].fmRatioSrc}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu src-dropdown" role="menu">
                    <div ng-repeat="s in data.sources">
                        <li><a href="#" ng-click="uiRemapper.setFmRatioSrc(s)">{{s}}</a></li>
                    </div>
                </ul>
            </div>
            <div ui-slider="ui.paramSlider" ng-model="synths[id].fmRatioNrm" class="param-slider"></div>
        </div>
    </div>


    <!--<div class="mapper-unit">-->
    <!--<div class="mapper-unit-title">-->
    <!--<input type="checkbox" ng-model="synths[id].rmSwitch">-->
    <!--Ring Mod-->
    <!--</div>-->
    <!--<div class="mapper-unit-body">-->
    <!--<div class="btn-group" dropdown>-->
    <!--<button type="button" class="btn btn-default btn-xs dropdown-toggle srcbtn">-->
    <!--{{synths[id].rmSrc}} <span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu src-dropdown" role="menu">-->
    <!--<div ng-repeat="s in data.sources">-->
    <!--<li><a href="#" ng-click="uiRemapper.setRmSrc(s)">{{s}}</a></li>-->
    <!--</div>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div ui-slider="ui.paramSlider" ng-model="synths[id].rmNrm" class="param-slider"></div>-->
    <!--</div>-->
    <!--</div>-->
    </div>
</div>

<div class="modal-footer">
    <!--<div class="modal-footer">preset button, etc.</div>-->
</div>