<!DOCTYPE html>
<html ng-app="SonIoT">
<head lang="en">
    <meta charset="UTF-8">
    <title>Twitter Sonification</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="//www.openlayers.org/api/OpenLayers.js"></script>

    <script src="ng-grid-2.0.11.min.js"></script>
    <link rel="stylesheet" href="ng-grid.css">

    <script src="slider.js"></script>
    <script src="script.js"></script>
    <script src="synth.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="MainController" ng-init="dataFileSelection()">

<h1>
    <div id="app-title"> Georgia Tech Twitter Dashboard </div>
    <div ui-slider="ui.paramSlider" ng-model="shared.masterLevel" class="param-slider" id="master-level-slider"></div>
    <div class="btn-group" dropdown style="float: left; left: 10px">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" id="scalebtn">
            {{shared.scaleSelected}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu src-dropdown" role="menu">
            <div ng-repeat="s in synthGlobal.scaleList">
                <li><a href="#" ng-click="synthGlobal.setScale(s)">{{s}}</a></li>
            </div>
        </ul>
    </div>
    <!--<div id="global-config"><button>C</button></div>-->
</h1>

<div id="mapcontainer">
    <!--<div id="speed-slider-hint"> Speed Control </div>-->
    <div id="speed-slider"></div>
    <div id="map"></div>
    <div class="progressbar" id="time-indicator"></div>
    <div class="progressbar" id="seek-slider"></div>
    <div class="progressbar" id="progressbar-hint"> Playback Position </div>
    <div id="textbox">
        <h3>Matches</h3>
        <textarea id="message-matches" placeholder="Enter search terms in the colored boxes to find matches."></textarea>
        <button type = "button" class = "btn btn-outline-inverse btn-lg" ng-click="showLog($index)">
            <span class="glyphicon glyphicon-folder-open"></span> History
        </button>
    </div>
    <div id="date">{{clock.date}}</div>
</div>

<div id="kwmapper-container">
    <div ng-repeat="i in ui.range(8) track by $index" id="kwmapper-table">
        <div id="kwmapper-row">
            <span ng-model="ui.indicators[$index]" id="indicator">{{ui.indicators[$index]}}</span>
            <div id="kwmapper-maincol">
                <div id="kw-panel">
                    <input ng-model="ui.keywords[$index]" ng-style="{'border-color': ui.colors[$index]}" class="input-box" typeahead="kw for kw in data.kwList | filter:$viewValue | limitTo:30" placeholder={{data.kwPlaceholder}}>
                    <button id="modal-button" ng-click="openAudioMapper($index)"><img src="resources/gear.png" id="config-img"></button>
                </div>
                <div class="audioparam-panel">
                    <span ui-slider="ui.paramSlider" ng-model="synths[$index].pitchNrm" id="pitch-slider"></span>
                    <button ng-mousedown="synths[$index].preview()" ng-mouseup="synths[$index].stopPreview()" ng-mouseleave="synths[$index].stopPreview()" id="preview-button"><img src="resources/speaker-m.png" id="preview-img"></button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>