<div class="modal-body">
    <div style="width: 10em;  margin: auto;">
        <div class="btn-group" dropdown style="top: 5px; width: 100%;">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle">
                {{dataSource}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu src-dropdown" role="menu">
                <div ng-repeat="s in dataSourceList">
                    <li><a href="#" ng-click="setDataSource(s)">{{s}}</a></li>
                </div>
            </ul>
        </div>
    </div>
    <div style="text-align: center; position: relative; margin-top: 3em; ">
        <button class="btn btn-primary" ng-click="ok()" style="margin: auto;">OK</button>
    </div>
</div>