html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    /*background-color: #444243; */
    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
    background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
}

h1 {
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: white;
    font-size: 140%;
    width: 28em;
}

#app-title {
    float: left;
}

#master-level-slider {
    width: 20%;
    float: left;
    margin-left: 14px;
}

#scalebtn {
    border: solid darkgray;
    border-width: 2px;
    width: 7em;
    margin-top: -2px;
    /*text-align: left;*/
}

#global-config {
    float: left;
}

#mapcontainer, #kwmapper-container {
    position: relative;
    margin-top: 1%;
    height: 85%;
}

#mapcontainer {
    float: left;
    width: 78%;
    margin-left: 3%;
    /*border: 2px solid blue;*/
}

#speed-slider, #map, .progressbar {
    position: relative;
}

#speed-slider, #map {
    display: inline-block;
    top: 3px;
    height: 90%;
}

#speed-slider {
    left: 4%;
    width: 2%;
    float: left;
}

#speed-slider-hint {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#map {
    float: right;
    border: 3px solid black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#map, .progressbar {
    width: 92%;
}

.progressbar {
    margin-left: auto;
    margin-right: 3px;
    height: 5%;
    top: 3%;
}

#seek-slider {
    /*height: 5%;*/
    top: -2%;
    opacity: 0;
    z-index: 20;
}

#progressbar-hint {
    top: -6%;
    z-index: 10;
    text-align: center;
    color: darkgray;
    font-style: oblique;
    letter-spacing: 1em;
}

#date {
    position: relative;
    top: -97%;
    left: 72%;
    width: 30%;
    height: 5%;
    padding: 5px;
    font-size: 125%;
    text-align: center;

    /*border: solid blue;*/
}

#textbox {
    background-color: rgba(0,0,0,0.5);
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    border: solid 1px #5F6800;
    position: relative;
    top: -100%;
    left: 77%;
    width: 20%;
    height: 60%;
    padding: 5px;
    z-index: 10;
    color: rgba(255,255,255, 1);

}

#textbox textarea {
    background-color: rgba(0,0,0,0);
    color: white;
    resize: none;
    border: none;
    width: 100%;
    height: 68%;
    font-size: 12px;
    outline: none; /* disables the focus when clicked */
}

#textbox, h3 {
    margin-top: 5px;
    text-align: center;
}

#textbox button {
    width: 60%;
    height: 13%;
    padding: 5px 5px;
    font-size: 90%;
    line-height: 0;
}

.btn-outline-inverse {
    color: white;
    background: transparent;
    border-color: white;
}

.glyphicon-folder-open:before {
    content: "\e118";
    padding-right: 4px;
}


.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
color: rgba(0,0,0,1);
text-shadow: none;
background-color: #fff;
border-color: #fff;
}


/* Reposition attribution.  */
div.olControlAttribution {
  right: 1%;
  bottom: 1%;
}

/*==============================*/

#kwmapper-container {
    position: relative;
    float: left;
    width: 15%;
    display: table;
    padding-top: 0.5%;
}

#kwmapper-table {
    position: relative;
    display: table-row;
    height: 12.5%;
}

#indicator {
    position: relative;
    float: left;
    top: 3px;
    height: 1em;
    width: 1em;
    margin-left: 5%;
    color: white;
    text-align: center;
}

#kwmapper-row {
    position: relative;
    width: 100%;
    height: 80%;
    margin: auto;
}

#kwmapper-maincol {
    width: 83%;
    height: 100%;
    float: right;
}

#kw-panel {
    position: relative;
    /*top: 3px;*/
    height: 50%;
}

.input-box {
    position: relative;
    float: left;
    display: block; /* input elem is inline by default */
    margin: auto; /* won't work for inline elems */
    top: 1%;
    bottom: 1%;
    width: 75%;
    border-width: 3px;
    border-radius: 10%;
    border-style: outset;
    border-color: white;
    outline: none;
    text-align: center;
}

.input-box, #modal-button {
    font-size: 80%;
    height: 90%;
}

.dropdown-menu {
    max-width: 10em;
    max-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
}

.audioparam-panel {
    height: 50%;
}

#preview-button {
    height: 60%;
    width: 18%;
    float: right;
    /*margin-right: 5%;*/
}

#preview-img {
    margin: auto, 0;
    margin-top: -1em;
    height: 30%;
}

#modal-button {
    /*border: solid blue;*/
    height: 90%;
    width: 18%;
    float: right;
}

#config-img {
    margin: auto, 0;
    margin-top: -30%;
    margin-left: -30%;
    height: 25%;
    /*top:0; bottom:0; left:0; right:0;*/
}

#pitch-slider {
    border-radius: 10px;
    border-width: 2px;
    position: relative;
    float: left;
    margin-top: 1%;
    width: 75%;
    height: 52%;
}

/*==============================*/

/*.ui-slider {*/
    /*color: green;*/
/*}*/

.ui-slider-handle {
    visibility: hidden;
}

.ui-slider-range.ui-widget-header {
    background: darkgray;
}


/*==============================*/

/*.modal {*/
    /*position: relative;*/
    /*height: 30%;*/
    /*width: 30%;*/
/*}*/


.modal-dialog {
    /*width: 490px;*/
    /*height: 500px;*/
    /*position: relative;*/
    /*margin: auto;*/
    /*margin-top: 50%;*/
    /*left: -10%;*/
    /*height: 50%;*/
    /*width : 50%;*/
}

.modal-header {
    height: 10px;
    margin: auto;
    text-align: center;
    border: none;
}

.modal-body {
    /*height: 0px;*/
    border: none;
    z-index: 50;
}

.modal-footer {
    width: 100%;
    border: none;
    z-index: 300;
}

#modal-title-container {
    margin: auto;
    width: 335px;
    height: 10px;
}

#modal-title {
    margin: auto;
    /*float: left;*/
}

#modal-kwcontainer {
    height: 22px;
    width: 130px;
    margin: auto;
    margin-top: -10px;
    z-index: 110;
    /*border: solid pink;*/
}

#modal-input-box {
    float: left;
    height: 20px;
    width: 90px;
    left: 10px
}

#modal-preview-btn {
    margin-top: 1px;
    height: 18px;
    width: 18px;
    float: right;
}

#modal-preview-img {
    height: 11px;
    width: 11px;
    margin-top: -10px;
    margin-left: -4px;
}

#mapper-container {
    width: 80%;
    height: 22em;
    margin: auto;
    text-align: center;
    margin-top: 2em;
}

/*==============================*/

.mapper-unit {
    float: left;
    border-style: outset;
    border-color: #d2d2d2;

    height: 70px;
    width: 210px;
    margin: 3px;
    padding: 5px;
}

.mapper-unit-title {
    text-align: center;
    border-bottom: groove lightgray;
}

.mapper-unit-body {
    margin-top: 5px;
    height: 30px;
    /*border: solid purple;*/
}

.btn-group {
    margin-left: 5px;
    float: left;
}

.srcbtn, .src-dropdown {
    border: solid darkgray;
    border-width: 2px;
    width: 7em;
}

.param-slider {
    border: solid darkgray;
    border-width: 2px;
    position: relative;
    height: 15px;
    width: 50%;
    float: right;
    top: 3px;
    border-radius: 8px;
}

/*.caret {*/
    /*float: right;*/
/*}*/

.mapper-source {
    margin: auto;
    border: solid blue;

    height: 30%;
    width: 80%;
}

.mapper-tune {
    margin: auto;

    height: 30%;
    border: solid green;
}

/* ==== Style for history log)==== */
.gridStyle {
    border: 1px solid rgb(212,212,212);
    padding: 5px 5px 5px 5px;
    margin: auto auto;
    position: relative;
    width: 95%; 
    height: 400px;
    overflow: visible;
}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow: visible;
  position: static;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText{
    height: auto !important;
    white-space: normal;
    overflow:visible;
}

.log-dialog .modal-dialog {
    width: 90%;
    height: 500px;
    /*position: relative;*/
    /*margin: auto;*/
    /*margin-top: 50%;*/
    /*left: -10%;*/
    /*height: 50%;*/
    /*width : 50%;*/
}